body {
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #EEE;
}

#movie_columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

article {
  background-color: white;
  flex-basis: 25%;
  text-align: center;
  padding: 2em;
  margin: 1em 0;
}

h2 {
  text-align: center;
  font-variant: small-caps;
}

img {
  max-width: 100%;
}